html, button {
    font-size: 62.5%;
    font-family: 'GlacialIndifferenceRegular', Verdana, Arial, sans-serif;
    margin-left: calc(100vw - 100%);
}
body {
    margin:auto;
    padding: 0;
    max-width:1080px;
}
#logo {
  margin-left: 1rem;
  float:left;
  margin: 0.8rem;
}
.activenav {
  color: green !important;
}
.navbtn {
  display:block;
  text-decoration: none;
  color:black;
  padding:0.5rem;
  transition: all 0.1s;
}
.navbtn:hover:not(.activenav) {
  color:white;
  background-color:black;
}
.ordernav {
  background-color: rgb(0, 102, 255) ;
  color:white;
  font-size:2.1rem;
  font-weight:500;
  padding: 0.5rem 2rem;
}
.ordernav:hover {
  background-color: rgb(51, 204, 255) !important;
  /* padding-bottom:10rem; */
}
#undernavpopup {
  text-align: center;
  padding:0rem;
  background-color: white;
  font-size:2rem;
  color:white;
  margin-bottom: 0;
  transition: all 0.2s;
}
.undernav-visible {
  /* height:auto !important; */
  padding:1rem !important;
  margin-bottom: 1rem !important;
  background-color: rgb(51, 204, 255) !important;

}
.navlist {
  float:right;
  margin:0;
  padding:1rem;
}
.navlist li {
  float:left;
  margin-right:2rem;
  list-style: none;
}
.navlist li:last-of-type {
  margin-right:0;
}
.clear {
  clear:both;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
h2 {
    font-size: 3rem;
}
li {
    font-size: 2rem;
    font-weight: 500;
}
td {
    padding:0px;
}
.header {
    width:calc(100% - 4rem);
    height:16rem;
    background-image: url('../images/knitted_bg.jpg');
    background-size:cover;
    overflow: none;
    position: relative;
    padding:2rem;
}
.header_button {
    padding: 0.3rem;
    font-size:3rem;
    margin:0px;
    border:none;
    color:black;
    background-color: white;
    transition: 0.1s all;
    display:block;
    -webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.28);
-moz-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.28);
box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.28);
}
.header_button:hover {
    padding-left:2rem;
    cursor:pointer;
}
.smaller_text {
    font-size: 2rem;
}
/*.header_button:nth-child(1) {
    margin-top:2rem;
}
.header_button:nth-child(even) {
    color:white;
    background-color:black;
}*/
.menutable {
    font-size: 2rem;
}
.screenOverlay {
    display:none;
    background-color:rgba(0,0,0,0.5);
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    transition: 0.1s all;
}
#downloadBtn {
    width: 20rem;
    height: 3rem;
    float:right;
    font-size: 2rem;
    border-style: none;
    background-color:white;
    transition:all 0.1s;
}
#downloadBtn:hover {
    padding-right:2rem;
    width: 22rem;
    cursor:pointer;
}
#menuSection {
    background-image:url('../images/chalk-board.jpg'); background-size: cover; padding: 3rem 3rem; padding-top:1rem; color:white;
}
table {
    padding-left:1rem;
}
.namefield, .descfield, .pricefield {
    padding-right:2rem;
}
.bottom_footer {}
#openStatus {
    opacity:0;
    transition: all 0.1s;
}
.fade_in {
    opacity:1 !important;
}
footer {
    color:white;
    padding:1rem;
    padding-bottom:3rem;
    background-color:black;
    font-size:2rem;
    margin:0px;
}
footer ul {
    padding:0rem !important;
}
footer div p {
    margin:0px;
}
footer ul li a {
    color:white !important;
}
.maptable {
    padding:0px;
    width:100%;
    min-height:384px;
}
.map {
    width:100%;
    height:384px;
}
.mapinfo {
    width:50%;
    height:100%;
    font-size:2rem;
    vertical-align:top;
}
.mapinfo td {
    padding-right:1.5rem;
}
#slideshow {
    /* background-color: black; */
    background-image:url('../images/rainforest.jpeg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 1rem;
}
.linebreak {
  background-image:url('../images/linebreak.gif');
  background-position: center;
  background-repeat: repeat-x;
  background-size:auto;
  height:2rem;
}
